<html>

<head>
    <title>Emit</title>
    <meta name="desc" value="$emit dùng để giao tiếp event giữa child và parent"></meta>
    <script src="../app/components/angular.min.js"></script>
    <script>
        var myApp = angular.module("app", []);
        //service style, probably the simplest one

        myApp.controller("ParentCtrl", function($scope) {
            $scope.$on("notifyChange", function(event, message) {
                $scope.childMessage = message;
            });
            $scope.notifyAll = function() {
                $scope.$broadcast('updateParentMessage', $scope.broadcastMessage);
            }
        });
        myApp.controller("ChildCtrl", function($scope) {
            $scope.onButtonClick = function() {
                $scope.$emit("notifyChange", $scope.message); //pass arrayData
            }
            $scope.$on("updateParentMessage", function(event, message) {
                $scope.parentMessage = message;
            })
        });
        myApp.controller("Child2Ctrl", function($scope) {
            $scope.onButtonClick = function() {
                $scope.$emit("notifyChange", $scope.message); //pass arrayData
            }
            $scope.$on("updateParentMessage", function(event, message) {
                $scope.parentMessage = message;
            })
        });
    </script>
</head>

<body ng-app="app">
    <div class="container">
        <div ng-controller="ParentCtrl">
            <div class="row">
                <h3>Parent Controller</h3>
                <div>
                    Child message: {{childMessage}}
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="your message" ng-model="broadcastMessage">

                </div>
                <button ng-click="notifyAll()" class="btn btn-primary">Broadcast</button>
            </div>
            <div class="row" ng-controller="ChildCtrl">
                <h3>Child 1</h3>
                <div>
                    Parent message: {{parentMessage}}
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="your message" ng-model="message">
                </div>
                <button ng-click="onButtonClick()" class="btn btn-primary">Emit</button>
            </div>
            <div class="row" ng-controller="Child2Ctrl">
                <h3>Child 2</h3>
                <div>
                    Parent message: {{parentMessage}}
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="your message" ng-model="message">
                </div>
                <button ng-click="onButtonClick()" class="btn btn-primary">Emit</button>
            </div>
        </div>
    </div>
</body>

</html>
